<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.trackpad.enableSecondaryClick</key>
	<true/>
	<key>com.apple.trackpad.fiveFingerPinchSwipeGesture</key>
	<integer>2</integer>
	<key>com.apple.trackpad.fourFingerHorizSwipeGesture</key>
	<integer>2</integer>
	<key>com.apple.trackpad.fourFingerPinchSwipeGesture</key>
	<integer>2</integer>
	<key>com.apple.trackpad.fourFingerVertSwipeGesture</key>
	<integer>2</integer>
	<key>com.apple.trackpad.momentumScroll</key>
	<true/>
	<key>com.apple.trackpad.pinchGesture</key>
	<true/>
	<key>com.apple.trackpad.rotateGesture</key>
	<true/>
	<key>com.apple.trackpad.scrollBehavior</key>
	<integer>2</integer>
	<key>com.apple.trackpad.threeFingerDragGesture</key>
	<false/>
	<key>com.apple.trackpad.threeFingerHorizSwipeGesture</key>
	<integer>2</integer>
	<key>com.apple.trackpad.threeFingerTapGesture</key>
	<integer>0</integer>
	<key>com.apple.trackpad.threeFingerVertSwipeGesture</key>
	<integer>2</integer>
	<key>com.apple.trackpad.twoFingerDoubleTapGesture</key>
	<integer>1</integer>
	<key>com.apple.trackpad.twoFingerFromRightEdgeSwipeGesture</key>
	<integer>3</integer>
	<key>com.apple.trackpad.version</key>
	<integer>5</integer>
</dict>
</plist>
